
  <div class="section__container">
    <div class="section__head" [style.background]="section.color">
      <h3 class="section__title">{{ section.title }}</h3>
      <span class="section__task-counter">{{ (currentTasks | async).length }}</span>
    </div>
    <div *ngIf="(currentTasks | async).length !== 0; else noTasks" class="section__task-box">
      <app-task class="section__task-item"
        *ngFor="let task of currentTasks | async; index as idx"
        [task]="task"
        (deleteTask)="deleteThisTask($event)"
        (completeTask)="completeThisTask($event)"
        (showEditPopup)="showPopup($event)"
      ></app-task>
    </div>
    <button (click)="showPopup()" class="section__task-box__add-task"></button>
  </div>

  <ng-template #popup>
  </ng-template>

  <ng-template #noTasks>
    <p class="section__no-task-message">Drag your tasks here or press + to add new tasks</p>
  </ng-template>


