
  <div class="section__container">
    <div class="section__head" [style.background]="color">
      <h3 class="section__title">{{ title }}</h3>
      <span class="section__task-counter">{{ taskNumber }}</span>
    </div>
    <div *ngIf="tasks; else noTasks" class="section__task-box">
      <app-task
        *ngFor="let task of currentTasks; index as idx"
        [title]="task.title"
        [description]="task.description"
        [id]="task.id"
        (deleteTask)="deleteThisTask($event)"
      ></app-task>
    </div>
    <button (click)="addTask()" class="section__task-box__add-task"></button>
  </div>

  <ng-template #noTasks>
    <p class="section__no-task-message">Drag your tasks here or press + to add new tasks</p>
  </ng-template>


