/* You can add global styles to this file, and also import other style files */
body {
  background-color: lightgrey;
  margin: 0 auto;
  font-family: 'Inter', 'Arial', sans-serif;
  color: #000000;
  min-width: 320px;
}
